

{% load i18n widget_tweaks %}


<div class="card">
    <div class="card-body text-center">
        <div class="content-section edit_password">
            <h2 class="mt-3">Change Password</h2>
            <hr class="short_hr">
            <form method="POST" id="change_password_details">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 text-left">
                        {{ change_password_form.old_password.label }}
                        {{ change_password_form.old_password|attr:"class:form-control mb-3 mt-2" }}
                    </div>
                    <div class="col-md-12 text-left">
                        {{ change_password_form.new_password.label }}
                        {{ change_password_form.new_password|attr:"class:form-control mb-3 mt-2" }}
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn start my-3" id='password_save_btn' type="submit">Save edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

