{% extends 'chat/base.html' %}


{% block content %}


<div class="row h-100">

    <div class="col-md-4 col-xl-4 contact_list h-100 mt-4">
        <div class="card">
            <div class="card-header">
                <!-- <div class="d-flex mt-3">
                    <div class="img_cont">
                        <img src="{{ user.profile.profile_picture.url }}" class="rounded-circle user_img">
                        <span class="online_icon"></span>
                    </div>
                    <div class="user_info auth_user">
                        <span>{{ user.get_name}}</span>
                        <p>Web Developer</p>
                    </div>
                </div> -->
                <form method="POST" class="contact_search mt-3">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <button class="input-group-text search_btn" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <ul class="contacts">
                    <li class="active">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/media/user.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Khalid</span>
                                <p>Kalid is online</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/media/user.png" class="rounded-circle user_img">
                                <span class="online_icon offline"></span>
                            </div>
                            <div class="user_info">
                                <span>Taherah Big</span>
                                <p>Taherah left 7 mins ago</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/media/user.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Sami Rafi</span>
                                <p>Sami is online</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/media/user.png" class="rounded-circle user_img">
                                <span class="online_icon offline"></span>
                            </div>
                            <div class="user_info">
                                <span>Nargis Hawa</span>
                                <p>Nargis left 30 mins ago</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/media/user.png" class="rounded-circle user_img">
                                <span class="online_icon offline"></span>
                            </div>
                            <div class="user_info">
                                <span>Rashid Samim</span>
                                <p>Rashid left 50 mins ago</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

    <div class="col-md-8 col-xl-8 chat h-100 mt-4 message_tins">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between mt-3">
                    <div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <img src="/media/user.png" class="rounded-circle user_img" alt="">
                            </div>
                            <div class="new_des mt-2">
                                <span>Khalid</span>
                                <p>Data Analyst</p>
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-search"></i>
                </div>
                <form method="POST" class="search_form mt-3">
                    {% csrf_token %}
                    <input type="search" name="search" id="search_text" class="form-control" placeholder="Search chat">
                </form>
            </div>
            <div class="card-body">
                <!------- messages ------->
                <div class="d-flex mb-4 received">
                    <div class="img_cont_msg">
                        <img src="/media/chatty.png" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        Hi, how are you samim?
                        <span class="msg_time">8:40 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex mb-4 replied">
                    <div class="msg_cotainer_send">
                        Hi Khalid i am good tnx how about you?
                        <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="{{ user.profile.profile_picture.url }}" class="rounded-circle user_img_msg">
                    </div>
                </div>
                <div class="d-flex mb-4 received">
                    <div class="img_cont_msg">
                        <img src="/media/chatty.png" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        Seen better days 👌🏽
                        <span class="msg_time">9:01 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex mb-4 replied">
                    <div class="msg_cotainer_send">
                        Hi Khalid i am good tnx how about you?
                        <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="{{ user.profile.profile_picture.url }}" class="rounded-circle user_img_msg">
                    </div>
                </div>
                <div class="d-flex mb-4 received">
                    <div class="img_cont_msg">
                        <img src="/media/chatty.png" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        Seen better days 👌🏽
                        <span class="msg_time">9:01 AM, Today</span>
                    </div>
                </div>
                <div class="d-flex mb-4 replied">
                    <div class="msg_cotainer_send">
                        Hi Khalid i am good tnx how about you?
                        <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="{{ user.profile.profile_picture.url }}" class="rounded-circle user_img_msg">
                    </div>
                </div>
                <div class="d-flex mb-4 received">
                    <div class="img_cont_msg">
                        <img src="/media/chatty.png" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        Seen better days 👌🏽
                        <span class="msg_time">9:01 AM, Today</span>
                    </div>
                </div>
                <!------- messages ------->
            </div>
            <div class="card-footer">
                <form id="send-message-form" method="POST">
                    <div class="input-group">
                        <div class="input-group-prepend emoji_prepend">
                            <span class="input-group-text">
                                <i class="fas fa-smile"></i>
                            </span>
                        </div>
                        <input type="text" id="input-message" class="form-control" placeholder="Type your message...">
                        <div class="input-group-append btn_append">
                            <button type="submit" class="input-group-text">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}