{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chathouse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/fontawesome-free/css/all.min.css' %}">
    <title>
        {% block title %} Chatty {% endblock %}
    </title>
    {% block extra_head %} {% endblock extra_head %}
</head>

<body>
    <!-- Modal -->

    <div id="statusModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="fa"></i>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h4></h4>
                    <p></p>
                    <button data-dismiss="modal" class="btn btn-success">
                        <span id="nxt_action"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="pleaseWaitModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="fa">&#33;</i>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h4>Info!</h4>
                    <p>Please wait while we process this report...</p>
                    <button data-dismiss="modal" class="btn btn-success">
                        <span id="nxt_action">Wait</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    {% block content %}
    {% endblock %}

    <script src="{% static 'chat/js/my_jQuery.js' %}"></script>
    <script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'chat/js/main.js' %}"></script>
    <!-- <script src="{% static 'chat/js/chathouse.js' %}"></script> -->
    <script src="{% static 'chat/js/chat_messages.js' %}"></script>
    <script src="{% static 'chat/js/ajax_requests.js' %}"></script>
    <script src="{% static 'chat/js/emoji-button.min.js' %}"></script>
    {% block script %} {% endblock %}
</body>

</html>