{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chathouse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/fontawesome-free/css/all.min.css' %}">
    <title>
        {% block title %} Chatty {% endblock %}
    </title>
    {% block extra_head %} {% endblock extra_head %}
</head>

<body>
    {% comment %}
        <div class="container">
            <div class="col-md-8 mx-auto my-auto">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible text-center">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true" class="text-"><small>x</small></span>
                    </button>
                    </div>
                    {% endfor%}
                {% endif %}
            </div>
        </div>
    {% endcomment %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'chat/js/my_jQuery.js' %}"></script>
    <script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'chat/js/main.js' %}"></script>
    <!-- <script src="{% static 'chat/js/chathouse.js' %}"></script> -->
    <script src="{% static 'chat/js/ajax_requests.js' %}"></script>
    {% block script %} {% endblock %}
</body>

</html>