{% extends 'chat/base.html' %}
{% load i18n widget_tweaks %}
{% load chat_tags %}


{% block content %}

<div class="container h-100">  
    <input type="hidden" id="logged-in-user" value="{{ user.id }}">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-4 chat h-100 mt-4">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="d-flex justify-content-between mt-3">
                        <div>
                            <img src="{{ user.profile.profile_picture.url }}" class="rounded-circle user_img_logged">
                        </div>
                        <div class="user_options">
                            <i class="fa fa-plus" id="add_cont"></i>
                            <span id="user_action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        </div>
                    </div>
                    <div class="user_action_menu">
                        <ul>
                            <li data-name="User profile" id="view_profile"><i class="fas fa-user-circle"></i> Profile</li>
                            <li data-name="Edit profile"><i class="fas fa-pen"></i> Edit Profile</li>
                            <li data-name="Change password"><i class="fas fa-key"></i> Change Password</li>
                            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts">
                        {% for thread in Threads %}
                            <li class="contact-li" chat-id="chat_{{ thread.id }}">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        {% if thread.first_person == user %}
                                            <img src="{{ thread.second_person.profile.profile_picture.url }}" class="rounded-circle user_img">
                                        {% else %}
                                            <img src="{{ thread.first_person.profile.profile_picture.url }}" class="rounded-circle user_img">
                                        {% endif %}
                                        <!-- <span class="online_icon"></span> -->
                                    </div>
                                    <div class="user_info">
                                        {% if thread.first_person ==  user %}
                                            <span>{{ thread.second_person.get_name }}</span>
                                            <p>{{ thread.second_person.first_name }} is online</p>
                                        {% else %}
                                            <span>{{ thread.first_person.get_name }}</span>
                                            <p>{{ thread.first_person.first_name }} is online</p>
                                        {% endif %}    
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-8 chat h-100 mt-4" id='action_container'>
            <div class="card welcome_greeting">
                <div class="card-header"></div>
                <div class="card-body welcome_img mx-auto text-center">
                    <img class="img-fluid" src="/media/download (9).png">
                    <h1>Welcome, {{ user.get_name }}!</h1>
                    <p>Now send and receive messages with your contacts.<br>Click on existing contact or add new ones.</p>
                </div>
            </div>
            <div class="card d-none message_tins">
                {% for thread in Threads %}
                    <div class="messages-wrapper hide"
                    chat-id="chat_{{ thread.id }}" other-user-id="
                        {% if thread.first_person == user %}
                            {{ thread.second_person.id }}
                        {% else %}
                            {{ thread.first_person.id }}
                        {% endif %}
                    ">
                        <div class="d-none" id="other_user_picture">
                            {% if thread.first_person == user %}
                                {{ thread.second_person.profile.profile_picture.url }}
                            {% else %}
                                {{ thread.first_person.profile.profile_picture.url }}
                            {% endif %}
                        </div>
                        <div class="card-header">
                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            {% if thread.first_person == user %}
                                                <img src="{{ thread.second_person.profile.profile_picture.url }}" class="rounded-circle user_img">
                                            {% else %}
                                                <img src="{{ thread.first_person.profile.profile_picture.url }}" class="rounded-circle user_img">
                                            {% endif %}
                                        </div>
                                        <div class="new_des mt-2">
                                            {% if thread.first_person == user %}
                                                <span>{{ thread.second_person.get_name }}</span>
                                                <p>{{ thread.second_person.profile.description }}</p>
                                            {% else %}
                                                <span>{{ thread.first_person.get_name }}</span>
                                                <p>{{ thread.first_person.profile.description }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa fa-search" id="search_chat_text"></i>
                                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                                </div>
                            </div>
                            <div class="action_menu">
                                <ul>
                                    <li id="view_contact_profile" data-name="View profile">
                                        <i class="fas fa-user-circle"></i> View {% if thread.first_person == user %}{{ thread.second_person.first_name }}{% else %} {{ thread.first_person.first_name }}{% endif %}'s profile
                                    </li>
                                    <li id="report_contact" data-name="Report"><i class="fas fa-flag"></i> Report</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body msg_card_body" id="scroller">
                            <!-- All Messages -->
                            {% for chat in thread.chatmessage_thread.all %}
                                {% if chat.user == user %}
                                    <div class="receiver">
                                        <div class="d-flex replied">
                                            <div class="receiver_message_container">
                                                {{ chat.message }}
                                            </div>
                                            <div class="img_cont_msg">
                                                <img src="{{ user.profile.profile_picture.url }}" class="rounded-circle user_img_msg">
                                            </div>
                                        </div>
                                        <p>{{ chat.timestamp|date:"D M j" }}, {{ chat.timestamp|time:"H:i A" }}</p>
                                    </div>
                                {% else %}
                                    <div class="sender">
                                        <div class="d-flex received">
                                            <div class="img_cont_msg">
                                                <img src="{{ chat.user.profile.profile_picture.url }}" class="rounded-circle user_img_msg">
                                            </div>
                                            <div class="sender_message_container">
                                                {{ chat.message }}
                                            </div>
                                        </div>
                                        <p>{{ chat.timestamp|date:"D M j" }}, {{ chat.timestamp|time:"H:i A" }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!-- All Messages -->
                        </div>
                    </div>
                {% endfor %}
                <div class="card-footer">
                    <form id="send-message-form" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-prepend emoji_prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-smile"></i>
                                </span>
                            </div>
                            <input type="text" id="input-message" class="form-control" placeholder="Type your message...">
                            <div class="input-group-append btn_append">
                                <button type="submit" class="input-group-text">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modals -->
            <div class="modal fade" id="userProfileModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body profile">
                            <img src="" class="rounded-circle profile_view">
                            <h1></h1>
                            <p class="email"></p>
                            <span>Status:</span><br>
                            <p class="stat"></p>
                            <span>Description:</span><br>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="contactProfileModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body profile">
                            <img src="" class="rounded-circle profile_view">
                            <h1></h1>
                            <p class="email"></p>
                            <span>Status:</span><br>
                            <p class="stat"></p>
                            <span>Description:</span><br>
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editProfileModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body edit_modal pl-5 pr-5">
                            <h1>Edit Profile</h1>
                            <hr class="short_hr">
                            <form method="POST" id="change_profile_details" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        {{ user_update_form.first_name.label }}
                                        {{ user_update_form.first_name|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                    <div class="col-md-6 text-left">
                                        {{ user_update_form.last_name.label }}
                                        {{ user_update_form.last_name|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                    <div class="col-md-12 text-left">
                                        {{ user_profile_update_form.profile_picture.label }}
                                        {{ user_profile_update_form.profile_picture|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                    <div class="col-md-6 text-left">
                                        {{ user_profile_update_form.description.label }}
                                        {{ user_profile_update_form.description|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                    <div class="col-md-6 text-left">
                                        {{ user_profile_update_form.status.label }}
                                        {{ user_profile_update_form.status|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn start my-3" type="submit">Save edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editPasswordModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body  edit_modal pl-5 pr-5">
                            <h1>Change Password</h1>
                            <hr class="short_hr">
                            <form method="POST" id="change_password_details">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        {{ change_password_form.old_password.label }}
                                        {{ change_password_form.old_password|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                    <div class="col-md-12 text-left">
                                        {{ change_password_form.new_password.label }}
                                        {{ change_password_form.new_password|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn start my-3" type="submit">Save edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="reportUserModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body  edit_modal pl-5 pr-5">
                            <h1>Report Contact</h1>
                            <hr class="short_hr">
                            <form method="POST" id="report_user_form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        {{ report_user_form.subject.label }}
                                        {{ report_user_form.subject|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                    <div class="col-md-12 text-left">
                                        {{ report_user_form.reason.label }}
                                        {{ report_user_form.reason|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                    <div class="col-md-12 text-left">
                                        {{ report_user_form.evidence.label }}
                                        {{ report_user_form.evidence|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn start my-3" type="submit">Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addContactModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body  edit_modal pl-5 pr-5">
                            <h1>Add Contact</h1>
                            <hr class="short_hr">
                            <form method="POST" id="add_contact_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        {{ add_contact_form.contact_email.label }}
                                        {{ add_contact_form.contact_email|attr:"class:form-control mb-3 mt-2" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn start my-3" type="submit">Add Contact</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="searchChatModal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body  edit_modal pl-5 pr-5">
                            <h1>Search Chat</h1>
                            <hr class="short_hr">
                            <form method="POST" id="search_chat_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        Chat Text
                                        <input type="text" name="chat-text" id="chat-text" class="form-control mb-3 mt-2" placeholder="Enter the chat text..." required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn start my-3" type="submit">Search Chat</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ logged_user_picture | json_script:"logged_user_picture"}}

{% endblock %}

