{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}
{% block title %}Chatty | Reset Password{% endblock %}

{% block content %}

<div class="container">
    <div class="row bg-dark pb-5">
        <div class="col-md-4 mx-auto my-auto text-center password_reset">
            <img src="/media/download (7).png" alt="password reset img" class="img-fluid">
        </div>
        <div class="col-md-6 mx-auto my-auto heading" id="log_cat">
            <h2 class="text-center">Reset Password</h2>
            <hr>
            {% if validlink %}
                <div class="content-section mt-1">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>{{ field.label_tag }}
                                {{ field|attr:"class:form-control"}}
                                {% for error in field.errors %}
                                    <small style="color: red; font-weight: 600">{{ error }}</small>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <div class="form-group">
                            <button class="btn btn-outline-info log" type="submit">Reset Password</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="content-section mb-5">
                    <div class="alert alert-info my-2 text-center">
                        Your password reset link is invalid, used or has an expired token
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}