{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Chatty | Reset Password{% endblock %}

{% block content %}

<div class="container">
    <div class="row bg-dark pb-4">
        <div class="col-md-4 my-auto text-center mx-auto password_reset">
            <img src="/media/download (6).png" alt="password reset img" class="img-fluid">
        </div>
        <div class="col-md-6 mx-auto my-auto heading">
            <h2 class="text-center">Password Reset</h2>
            <hr>
            <div class="content-section mx-5 mt-1">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="form-group">
                        <button class="btn start" type="submit">Request Password Request</button>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
</div>

<div class="row">
    <div class="col-md-6 mx-auto my-auto" id="log_cat">
        
    </div>
</div>


{% endblock %}